.container_tabela{
    display: grid;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #A0AEC0;
    border-radius: 6px;
    text-align: justify;

}

.cabecalho_tabela{
    border: 1px solid #A0AEC0;
    border-radius: 6px;
    margin-bottom: 4px;
}
.cabecalho_tabela tr {
    display: grid;
    grid-template-columns: 1.5fr 4.5fr 1fr 1fr 1fr 1fr 1fr;
}

.container_produto{
    background: #E2E8F0;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1.5fr 4.5fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.container_produto td {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container_produto img{
    border-radius: 6px;
    width: 60px;
    height: 60px;
}